div.overlay{
  width:100%;
  min-height:600px;
  position:absolute;
  z-index:1;
  background-color:rgba(224, 224, 224,0.4);
}
div.cima{
  width:100%;
  position:fixed;
  bottom:14px;
  left:14px;
  z-index:3;
  opacity:0.8;
  overflow-x:hidden;
}
.cima i{
  cursor:pointer;
  text-align:center;
  padding:15px;
  font-size:20px;
  color:#353535;
  border-radius:100px;
  background-color:#8b8b8b;
}
div.parallax{
  background-attachment:fixed;
}
